.campaign-title {
  text-align: center;
}

.campaign-title h2 {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: var(--text-normal);
  margin-bottom: 2rem;
}

.campaign-title h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px; 
  background: var(--text-normal);
  margin: 0 auto;
  margin-top: 0.5rem;
}
